*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/cache/!.htaccess
.DS_Store

application/default/logs/*
application/default/cache/*
application/default/config/development/databases.php
application/default/cache/default:ROLE_PRIVILEGE
application/default/cache/default:USER_PRIVILEGE
hubert-faust.sublime-workspace