*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/cache/!.htaccess
.DS_Store

application/default/logs/*
application/default/cache/*
application/default/config/development/databases.php