.nav-menu { background: rgba(255, 255, 255, 0.9); height: auto; border-bottom: 0; border-bottom: 1px solid #000; }
.nav-menu .pull-left { padding: 10px 0; float: none; text-align: center; position: relative; }
.nav-menu .pull-left h1 { float: none; display: inline-block; }
.nav-menu .pull-right { padding: 16px 0; display: none; }
.nav-menu .pull-right ul.topbar ul { background: rgba(255, 255, 255, 0.9); }
.nav-menu .pull-right ul.topbar>li { margin-right: 30px; }
.nav-menu .pull-right ul.topbar li a { color: #000; font-size: 1.1em; cursor: pointer; }
.nav-menu .pull-right ul.topbar .subMenu { width: auto; margin: 0; top:100%; border-color: #000; }
.nav-menu .pull-right ul.topbar .subMenu li { margin: 0; float: none; }
.nav-menu .brand a.mobile { background: url(../img/logo2.png) center no-repeat; background-size: contain; display: inline-block; text-indent: -6666em; width: 75px; height: 30px; }
.nav-menu .brand a.desktop { background: url(../img/logo.png) center no-repeat; background-size: contain; text-indent: -6666em; width: 99px; height: 60px; display: none; }
.nav-menu .topbar .down i { margin-left: 5px; }
.nav-menu .pull-right ul.topbar ul li a { line-height: 130%; padding: 8px 30px 8px 30px; color: #000; }

.content { padding-top: 53px; }
.content.home { padding-top: 0; }

.heroBanner .bannerSlide { width: 100%; height: 400px; display: table; }
.heroBanner .bannerSlide a { height: 400px; display: block; }

.productView,
.socialMedia { position: relative; padding: 1px; }
.productView .thumbArea { padding: 2px; }
.productView .thumbView { position: relative; }
.productView .thumbView .image a { display: block; height: 200px; }

.overlay { display: block; background: rgba(0, 0, 0, 0.6); position: absolute; bottom: 0; right: 0; left: 0; }

.productView .thumbView .desc  { display: block; text-align: center; padding: 10px 0; }
.productView .thumbView .desc span { margin: 0; color: #fff; line-height: 130%; display: block; padding: 0 20px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.productView .thumbView .desc .category { font-size: 0.6em; letter-spacing: 0.5pt; font-weight: 600; text-transform: uppercase; margin-bottom: 3px; }
.productView .thumbView .desc .category i { margin-right: 8px; }
.productView .thumbView .desc .name { font-size: 1em; font-weight: 600; letter-spacing: 0.5pt; }

.overlay.promo { background: rgba(255, 255, 255, 0.7); }
.productView .thumbView .overlay.promo span { color: #058DFF; }
.productView .thumbView .overlay.promo .category { border-color: #058DFF; }

.label { padding: 20px 0; position: relative; text-align: center; }
.label h4 { text-align: center; margin: 0; line-height: 120%; display: inline-block; background: #fff; position: relative; z-index: 2; padding: 0 10px; text-transform: uppercase; font-size: 1em; }
.label hr { border-color: #000; position: absolute; top: 50%; left: 0; right: 0; width: 200px; margin: 0 auto; }

.thumbnails { padding: 1px; }
.thumbnails .thumbArea { padding: 1px; }
.thumbnails .thumbArea .thumb { position: relative; }
.thumbnails .thumbArea a { display: block; }
.thumbnails .thumbArea .image { display: block; height: 200px; }
.thumbnails .thumbArea .desc { position: absolute; bottom: 0; right: 0; left: 0; background: rgba(0, 0, 0, 0.6); text-align: center; }
.thumbnails .thumbArea .desc a { padding: 20px; font-size: 1.3em; color: #fff; }

.pagingArea { padding: 20px 0; }
.pagingArea ul.pagination { margin: 0 auto; }
.pagingArea ul.pagination li a { line-height: 30px; padding: 0 10px; font-size: 1.2em; }
.pagingArea ul.pagination li.active a { background: #000; }

.footer { border-top: 1px solid #000; padding: 20px 0; }
.footer .copyLogo { margin-bottom: 20px; }
.footer .copyright { margin: 0; color: #444; text-align: center; line-height: 120%; font-size: 0.8em; display: block; vertical-align: middle; }
.footer .logo { background: url(../img/logo2.png) center no-repeat; background-size: contain; display: inline-block; width: 63px; height: 25px; margin-bottom: 10px; }
.footer .copyright span { display: block; }
.footer hr { border-color: #000; width: 20px; margin: 0 auto; }
.footer .findUs { margin-top: 20px; }
.footer .findUs p { text-align: center; text-transform: uppercase; font-size: 0.8em; font-weight: 600; color: #444; margin: 0 0 5px; line-height: 120%; }
.footer .social { margin: 0 auto; }
.footer .social li:hover .fb { color: #3A5898; }
.footer .social li:hover .pin { color: #E60000; }
.footer .social li:hover .ins { color: #3A5898; }
.footer .social a { 
	font-size: 2em; color: #444; 
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}


.owl-theme .owl-controls { text-align: center; }
.owl-theme .owl-controls .owl-pagination { position: absolute; bottom: 10px; left: 0; right: 0 }
.owl-theme .owl-controls .owl-page { display: inline-block; zoom: 1; }
.owl-theme .owl-controls .owl-page span { 
	display: block; width: 16px; height: 16px; margin: 5px 7px; border: 1px solid rgba(255, 255, 255, 0.9); background: transparent;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px; 
	-webkit-box-shadow: 0 0 16px rgba(0,0,0,0.64);
	-moz-box-shadow: 0 0 16px rgba(0,0,0,0.64);
	-ms-box-shadow: 0 0 16px rgba(0,0,0,0.64);
	-o-box-shadow: 0 0 16px rgba(0,0,0,0.64);
	box-shadow: 0 0 16px rgba(0,0,0,0.64);
}
.owl-theme .owl-controls .owl-page.active span { background: rgba(255, 255, 255, 0.9); }
.owl-buttons { display: none; } 
.owl-buttons .owl-prev, 
.owl-buttons .owl-next { position: absolute; top: 50%; margin-top: -68px; background: rgba(255, 255, 255, 0.5); padding: 15px; }
.owl-buttons .owl-prev:hover, 
.owl-buttons .owl-next:hover { background: rgba(255, 255, 255, 0.9); }
.owl-buttons .owl-prev { 
	left: 0; 
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.owl-buttons .owl-next { 
	right: 0; 
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.arrow { width: 40px; height: 106px; display: inline-block; }
.arrow.left { background: url(../img/arrow-left.png) center no-repeat; background-size: contain; }
.arrow.right { background: url(../img/arrow-right.png) center no-repeat; background-size: contain; }



.toggleDown { position: absolute; top: 50%; margin-top: -18px; right: 10px; padding: 10px 0 10px 10px; }
.toggleMenu { border-top: 1px solid #000; border-bottom: 1px solid #000; display: none; }
.toggleMenu ul { margin: 0; padding: 0; list-style: none; }
.toggleMenu ul li a { display: block; padding: 12px 20px; border-bottom: 1px solid #000; font-size: 1.1em; color: #000; line-height: 120% }
.toggleMenu ul li:last-child a { border-bottom: 0; }
.toggleMenu ul li span { float: left; }
.toggleMenu ul li i { float: right; }


/*MENU TOGGLE*/
.menu-toggle-btn { cursor: pointer; display: inline-block; }
.menu-toggle-btn span {
  background: #000; display: block; width: 21px; height: 3px; margin-bottom: 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.menu-toggle-btn span:last-child { margin-bottom: 0; }
.toggleDrawer .menu-toggle-btn span:nth-child(1), 
.toggleDrawer .menu-toggle-btn span:nth-child(3) {
  margin: 0;
  transform: translate(0px, -4px) rotate(-45deg) scalex(1); 
  -webkit-transform: translate(0px, -4px) rotate(-45deg) scalex(1); 
}
.toggleDrawer .menu-toggle-btn span:nth-child(2) { height: 0; margin: 0; }
.toggleDrawer .menu-toggle-btn span:nth-child(3) {
  transform: translate(0px, -7px) rotate(45deg) scalex(1);               
  -webkit-transform: translate(0px, -7px) rotate(45deg) scalex(1);               
}



/*@media (min-width:480px ) {
}*/

@media (min-width:768px) {

	.nav-menu .brand a.mobile { display: none; }
	.nav-menu .brand a.desktop { display: inline-block; }

	.nav-menu .pull-left { float: left; }
	.nav-menu .pull-left h1 { float: left; display: block; }
	.toggleDown { display: none; }
	.nav-menu .pull-right { display: block; }

	.content { padding-top: 80px; }

	.heroBanner .bannerSlide { height: 650px; }
	.heroBanner .bannerSlide a { height: 650px; }
	.owl-buttons { display: block; } 

	.overlay { top: 0; }
	.overlay.promo { border: 14px solid #058DFF; }
	/*.productView .thumbArea { padding: 1px; }*/
	.productView .thumbView { background: transparent; }
	.productView .thumbView .image a,
	.thumbnails .thumbArea .image { 
		height: 300px;
		-webkit-filter: grayscale(100%); 
		-moz-filter: grayscale(100%); 
		-ms-filter: grayscale(100%); 
		-o-filter: grayscale(100%); 
		filter: grayscale(100%);
	}
	.productView .thumbView:hover .overlay { display: none; }
	.productView .thumbView:hover .image a,
	.thumbnails .thumbArea .thumb:hover .image {
		-webkit-transition-duration: .3s;
		-moz-transition-duration: .3s;
		-o-transition-duration: .3s;
		transition-duration: .3s;
		-webkit-transition-timing-function: linear;
		-moz-transition-timing-function: linear;
		-o-transition-timing-function: linear;
		transition-timing-function: linear;
		-webkit-filter: grayscale(0); 
		-moz-filter: grayscale(0); 
		-ms-filter: grayscale(0); 
		-o-filter: grayscale(0); 
		filter: grayscale(0);
	}
	.productView .thumbView .desc  { position: absolute; top: 50%; left: 0; right: 0; margin-top: -32px; padding: 0; }
	.productView .thumbView .desc .category { font-size: 0.8em; display: inline-block; max-width: 100%; margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px solid #fff; }
	.productView .thumbView .desc .name { font-size: 1.6em; white-space: normal; line-height: 120%; }
		
	.label,
	.pagingArea { padding: 20px 0; }
	.label h4 { font-size: 1.2em; }
	.label hr { width: 300; }
	
	.thumbnails .thumbArea .image { height: 300px; }
	.thumbnails .thumbArea .desc { display: none; }
	.thumbnails .thumbArea .thumb:hover .desc { display: block; }

	.footer .row { text-align: right; }
	.footer nav { padding: 20px 0; display: inline-block; vertical-align: middle; padding: 0; width: 80.5%; }
	.footer nav:last-child { width: 19%; }
	.footer .copyLogo { margin-bottom: 0; }
	.footer .logo { margin-right: 20px; vertical-align: middle; margin-bottom: 0; width: 65px; height: 26px; }
	.footer .copyright { text-align: left; font-size: 1em; }
	.footer .copyright span { display: inline-block; vertical-align: middle; }
	.footer .social { float: right; }
	.footer .social a { font-size: 2.6em; }
	.footer hr { display: none; }
	.footer .findUs { margin-top: 0; }
	.footer .findUs p { text-align: right; font-size: 0.9em; }
}



